@model dynamic
@using CMSBAL.IssueFIleHistory.Models
@using CMSUtility.Utilities
@using CMSUtility.Models


@if (Model.GetIssueFileList != null && Model.GetIssueFileList.Count > 0)
{
    int ctr = 0;
    foreach (IssueFileListResult loIssueFileList in Model.GetIssueFileList)
    {
        ctr++;
        <tr>
            <td>@ctr</td>
            <td>@loIssueFileList.inSRId</td>
            <td>@loIssueFileList.stCategoryName</td>
            <td>@loIssueFileList.stSubCategoryName</td>
            @if (ctr == 1)
            {
                <td>@loIssueFileList.stFirstNameAssignTo</td>
                <td>@loIssueFileList.stDepartmentAssignedTo</td>
                <td><span style="color:black; font-weight:bold;">You</span></td>
                <td>@User.FindFirst(CommonConstant.SessionConstant.DepartmentName).Value.ToString()</td>
            }
            else
            {
                if (ctr == 2)
                {
                    <td><span style="color:black; font-weight:bold;">@loIssueFileList.stFirstNameAssignTo</span></td>
                    <td>@loIssueFileList.stDepartmentAssignedTo</td>
                    <td>@loIssueFileList.stFirstNameAssignedBy</td>
                    <td>@loIssueFileList.stDepartmentAssignedBy</td>
                }
                else
                {
                    <td>@loIssueFileList.stFirstNameAssignTo</td>
                    <td>@loIssueFileList.stDepartmentAssignedTo</td>
                    <td>@loIssueFileList.stFirstNameAssignedBy</td>
                    <td>@loIssueFileList.stDepartmentAssignedBy</td>
                }
            }



            <td>@loIssueFileList.stComment</td>
            @{
                DateTime dtIssueDate = Convert.ToDateTime(loIssueFileList.dtIssueDate);
            }
            <td> @dtIssueDate.Date.ToString("dd MMM', 'yyyy")</td>
            <td>
                @if (loIssueFileList.inStatus == (int)CommonFunctions.FileStatus.Accepted)
                {
                    <span>Forwarded</span>
                }
                else if (loIssueFileList.inStatus == (int)CommonFunctions.FileStatus.Pending)
                {
                    <span>Pending</span>
                }
            </td>
            @*<td class="text-center"><a asp-area="Stores" asp-controller="IssueFile" asp-action="Detail" asp-route-id="@loIssueFileList.unlssueFileId" class="btn btn-outline-secondary btn-sm edit"><i class="fas fa-eye"></i> </a></td>*@
        </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center py-5">No records found.</td>
    </tr>
}

@{
    Pagination loPagination = Model.Pagination;

    <input type="hidden" id="hdnCurrentPage" value="@loPagination.inCurrentPage">
    <input type="hidden" id="hdnTotalPage" value="@loPagination.inTotalPages" />
    <input type="hidden" id="hdnTotalRecords" value="@loPagination.inTotalRecords" />
    <input type="hidden" id="hdnNoOfRecordsMessage" value="@loPagination.stNoOfRecordsMessage" />

}

