@model dynamic;
@using CMSBAL.Dashboard.Models;
@{
    Layout = "_LayoutDeskAdmin";
    ViewBag.Title = "Dashboard";
}<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
           
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h4 class="mb-sm-0">Department Dashboard</h4>
        <br />
        @foreach (DashboardResult loCategoryListResult in Model.GetDashboardResult)
        {

            if (loCategoryListResult.Id <= 4)
            {

                <div class="counter-number">
                    <div class="coming-box">@loCategoryListResult.inTotalOP <span>@loCategoryListResult.Name</span></div>
                </div>

            }
        }
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <h4 class="mb-sm-0">Operator Dashboard</h4>
        <br />
        @foreach (DashboardResult loCategoryListResult in Model.GetDashboardResult)
        {
            if (loCategoryListResult.Id >= 5 && loCategoryListResult.Id <= 8)
            {

                <div class="counter-number">
                    <div class="coming-box">@loCategoryListResult.inTotalOP <span>@loCategoryListResult.Name</span></div>
                </div>

            }

        }
    </div>
</div>


<div class="row">
    <div class="col-md-12"> <h4 class="mb-sm-0">Reception Dashboard</h4>
        <br />
        @foreach (DashboardResult loCategoryListResult in Model.GetDashboardResult)
        {
            if (loCategoryListResult.Id >= 9 && loCategoryListResult.Id <= 11)
            {

                <div class="counter-number">
                    <div class="coming-box">@loCategoryListResult.inTotalOP <span>@loCategoryListResult.Name</span></div>
                </div>

            }

        }
    </div>
</div>

<div class="row">
    <div class="col-md-12"> <h4 class="mb-sm-0">Total Users and Comlains</h4>
        <br />
        @foreach (DashboardResult loCategoryListResult in Model.GetDashboardResult)
        {
            if (loCategoryListResult.Id >= 12 && loCategoryListResult.Id <= 15)
            {

                <div class="counter-number">
                    <div class="coming-box">@loCategoryListResult.inTotalOP <span>@loCategoryListResult.Name</span></div>
                </div>

            }

        }
    </div>
</div>
@section Scripts {
<!-- apexcharts js -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="~/assets/js/pages/dashboard.init.js"></script>
}